
{% extends 'base.html' %}
{%load static%}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}
<section class="rtl text-center mt-5" id="goals">
  <h2>محتوى التعقيد</h2>
    <h2 class="background-color-nav fw-bolder h2Header mb-5"> الموديول الثاني: إنتاج الإنفوجرافيك الثابت المدعم بالذكاء الاصطناعي باستخدام موقع Visme</h2>
      <div class="container contentGoals">
        <div class="d-flex align-items-center">
          <div class="col-md-6 wow  animate__animated animate__fadeInUp ">
            <div>
              <address class="serviceFooter" style="text-align: right;">
                <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تقديم المعلومات المعقدة
                  بطريقة مبسطة وبشكل مرئي </p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>تقديم المعلومات بشكل منهجي ومنظم</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> عرض المعلومات بسرعة, وبشكل تفاعلي</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تلخيص النقاط المهمة في المقرر</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> توضيح العلاقات بين المفاهيم والمقارنات
                  بسهولة</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تقديم الأنشطة للمتعلمين بسهولة</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> معالجة النص والصور في وقت واحد</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تدعيم التفكير الناقد والإبداعي لدى
                  الطلاب</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تدعيم سرعة التواصل بالمعلومات</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> سهولة استخدام المعلومات ومشاركتها مع
                  المتعلمين</p>


              </address>
            </div>
          </div>
          <div class="col-md-6 wow animate__animated animate__zoomIn">
            <div>
              <img src="{%static 'img/e-learning-5680006-4729847.gif'%}" alt="" class="w-75">
            </div>
          </div>

        </div>
      </div>
      <a href="{% url 'quiz_question' quiz_name='beforemodule2' %}"> الدخول الى الاختبار القبلي للموديل الثانى</a>
  </section>
{% endblock %}