{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}
{% comment %} old details for quiz {% endcomment %}

{% comment %} <h2>{{ quiz.title }}</h2>
<h3>{% trans "Category" %}: {{ quiz.category }}</h3>
{% if quiz.single_attempt %}
  <h4>{% trans "You will only get one attempt at this quiz" %}.</h4>
{% endif %}
<p>{{ quiz.description }}</p>
<p>
  <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
	{% trans "Start quiz" %}
  </a>
</p> {% endcomment %}

{% comment %} -------------------------- {% endcomment %}


<section class="" id="SuggestedSources">

  <div class="d-flex flex-column justify-content-center align-items-center w-100 vh-100">

      <!-- q(1) -->
      <div class="w-50 contentQuiz animate__animated animate__zoomIn" id="q">
          <form id="form">
              <h4 class="fw-bolder text-center pt-4"> تعليمات الدخول للمقياس</h4>
              <div class="text-end px-3  p-3 t3limat">
                  <address class="serviceFooter" style="text-align: right;">
                      <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                      <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                      <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                      <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                      <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                  </address>
                  <div class="text-end d-flex justify-content-end align-items-center numberQuestion">
                      <p class="p-0 m-0">موافق</p> <input type="checkbox" name="" id="start" class="px-2 mx-1">
                  </div>
              </div>
          </form>

          <a href="{% url 'quiz_question' quiz_name=quiz.url %}" class="btn btnQuiz px-4 mx-2 mb-2 " id="btnForm" disabled>بداء الامتحان <i class="fa-solid fa-paper-plane"></i></a>
          <a href="{% url 'index'  %}" class="back">الرجوع إلي الصفحة الرئيسية <i class="fa-solid fa-rotate-left"></i></a>

      </div>
  </div>
</section>
<script>
  function enableSubmitButtonstart() {
    submitButtonStart.removeAttribute("disabled");
}

function disableSubmitButtonstart() {
    submitButtonStart.setAttribute("disabled", "disabled");
}

const trueRadioButtonStart = document.getElementById("start");
const submitButtonStart = document.getElementById("btnForm");

// Enable the submit button when checked
trueRadioButtonStart.addEventListener("change", function() {
    if (trueRadioButtonStart.checked) {
        enableSubmitButtonstart();
    } else {
        disableSubmitButtonstart();
    }
});

// Add event listener for form submission
document.getElementById("btnForm").addEventListener("click", function(event) {
    // Hide the first question and show the second question
    document.getElementById("q").classList.add("d-none")
    document.getElementById("btnForm").classList.add("d-none")

    document.getElementById("form1").classList.remove("d-none")
    document.getElementById("btnForm1").classList.remove("d-none")
});

</script>
{% endblock %}
