{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>{% trans "Example Quiz Website" %} | {% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">

  <!-- styles -->
  <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/toastr.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  {% comment %} <style>
    #chatbot-container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
  }
  
  #chatlog {
      height: 300px;
      overflow-y: scroll;
      margin-bottom: 10px;
  }
  
  #chatlog p {
      margin: 0;
  }
  
  #chat-form {
      display: flex;
      margin-top: 10px;
  }
  
  #user-input {
      flex-grow: 1;
      margin-right: 10px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ddd;
  }
  
  #chatbot-container button {
      padding: 5px 10px;
      border-radius: 5px;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
  }
  
  #chatbot-container button:hover {
      background-color: #0062cc;
  }
</style> {% endcomment %}
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>





  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      {% if user.is_authenticated %}
      
      <a  style="color: white;" class="navbar-brand" href="{% url 'logout' %}" >مرحبا بك   {{user.first_name}} {{user.last_name}}| تسجيل الخروج   
        </a>
       
      {% endif %}
        {% comment %} <a class="navbar-brand" href="#">
            <img src="{% static "img/1.png" %}" alt="" width="85" height="70" class="ms-2">aa
        </a> {% endcomment %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center ">
                <li class="nav-item pe-2 ">
                    <a class="nav-link text-white fw-bold" href="/measuretest/"> ابداء التعلم </a>
                </li>
                <li class="nav-item pe-2 ">
                    <a class="nav-link text-white fw-bold" href="#"> أدوات التعلم الذكي</a>
                </li>
                <li class="nav-item pe-2 ">
                    <a class="nav-link text-white fw-bold" href="#"> أدوات التشارك</a>
                </li>
                <li class="nav-item pe-2 ">
                    <a class="nav-link text-white fw-bold" href="#"> مصادر مقترحة</a>
                </li>
                <li class="nav-item pe-2 ">
                    <a class="nav-link text-white fw-bold" href="#rols">تعليمات البيئة</a>
                </li>
                <li class="nav-item pe-2 ">
                    <a class="nav-link text-white fw-bold" href="#goals">أهداف البيئة</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                        <img src="{% static "img/3.gif" %}" alt="" width="90" height="60">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                        <img src="{% static "img/2.png" %}" alt="" width="80" height="60" class="me-2">
                    </a>
                </li>


            </ul>
        </div>




    </div>
</nav>

  <!-- Before the quiz content -->

  <div class="container">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><sup>&times;</sup></span>
      </button>
      {{message}}
    </div>
    {% endfor %} {% endif %}
    
    {% block content %}
    {% endblock %}
  </div>




  {% comment %} footer  {% endcomment %}
  <footer>
    <div class="container-fluid  ">
        <div class="d-flex flex-wrap align-items-start">
            <div class="col-xs-6 col-md-4">
                <div class="me-4 pt-4">

                    <h4 class="yell-color"> الخدمات المتاحة علي المنصة</h4>
                    <address class="serviceFooter" style="text-align: right;">
          <p class="addre"><i class="fa-solid fa-laptop yell-color ps-2"></i> Lorem ipsum dolor sit amet Dolorem
            voluptatum optio harum impedit voluptas </p>
          <p><i class="fa-solid fa-earth-africa yell-color ps-2"></i> Lorem ipsum dolor sit amet consectetur tenetur
            similique rerum quis corporis magnam laborum.</p>
          <p><i class="fa-solid fa-list-check yell-color ps-2"></i> Lorem ipsum dolorea natus doloremque sit, sunt
            enim in neque.</p>
        </address>

                </div>
            </div>

            <div class="col-xs-6 col-md-3">
                <div class="me-4 pt-4">
                    <h4 class="yell-color">تواصل مع الباحثة </h4>

                    <address class="addresss" style="text-align: right;">
          <p class="addre"><i class="fa fa-solid fa-location-dot yell-color"></i> 
           كلية التربية جامعة دمنهور</p>
          <p><i class="fa fa-phone yell-color"></i> 01279687777 - 01272256666</p>
          <p><i class="fa fa-envelope yell-color"></i> AhmedShehta@gmail.com</p>
          <p><i class="fa-solid fa-paper-plane yell-color"></i> Ahmed.Shehta@edge-pro.com</p>

        </address>
                </div>
            </div>

            <div class="col-xs-6 col-md-5">
                <div class="ms-4 pt-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10807.693840769101!2d30.433153!3d31.037988!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f66b98198526b5%3A0x10bad724360d90e9!2sDamanhour%20University!5e1!3m2!1sen!2seg!4v1707179733658!5m2!1sen!2seg"
                        width="400" height="190" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>


        </div>
    </div>
</footer>


  <!-- After the quiz content -->




  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/wow.js' %}"></script>
  <script src="{% static 'js/toastr.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="{% static 'js/vedios.js' %}"></script>
  {% comment %} <script>
    document.addEventListener('DOMContentLoaded', function() {
      const chatlog = document.getElementById('chatlog');
      const chatForm = document.getElementById('chat-form');
      const userInput = document.getElementById('user-input');
    
      chatForm.addEventListener('submit', function(event) {
        event.preventDefault();
    
        // Get CSRF token
        const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    
        // Get user input
        const userMessage = userInput.value;
    
        // Clear the input field
        userInput.value = '';
    
        // Add the user message to the chat log
        chatlog.innerHTML += '<p class="user-message">' + userMessage + '</p>';
    
        // Send the user message to the server and get the response
        fetch('/index/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
            'X-CSRFToken': csrfToken // Include the CSRF token in the header
          },
          body: 'user_input=' + encodeURIComponent(userMessage)
        })
        .then(response => response.json())
        .then(data => {
          // Add the bot response to the chat log
          chatlog.innerHTML += '<p class="bot-message">' + data.bot_response + '</p>';
          // Scroll to the bottom of the chat log
          chatlog.scrollTop = chatlog.scrollHeight;
        });
      });
    });
    
  </script> {% endcomment %}
  {% comment %} script for remove the alert  {% endcomment %}
  
<script>
  $(window).on('load', function(){
      // Hide the alert after 5 seconds (5000 milliseconds)
      setTimeout(function(){
        $(".alert").css('display', 'none');
      }, 3000);
    });
</script>
</body>

</html>