{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="position-relative header">
    <div
    class="layer position-absolute bg-black top-0 bottom-0 start-0 end-0 bg-opacity-25 d-flex justify-content-center align-items-center">
    <div class="pe-3 text-white text-center">
      <h1 class="animate__animated animate__fadeIn pb-4">مرحبا بك في بيئة التعليم الذكية</h1>
     <a href="/measuretest/" class="animate__animated animate__fadeIn btnLink "> ابداء التعلم </a>
    </div>

  </div>
 
</header>


{% comment %} <div id="chatbot-container">
  <div id="chatlog"></div>
  <form id="chat-form">
    {% csrf_token %}
      <input type="text" id="user-input" placeholder="Say something...">
      <button type="submit">Send</button>
  </form>
</div> {% endcomment %}
<div class="position-absolute z-4 text-white chatContent"><i class="fa-solid fa-comments"></i></div>


<section class="rtl text-center mt-5" id="goals">
    <h2 class="background-color-nav fw-bolder h2Header mb-5">أهداف البيئة</h2>
      <div class="container contentGoals">
        <div class="d-flex align-items-center">
          <div class="col-md-6 wow  animate__animated animate__fadeInUp ">
            <div>
              <address class="serviceFooter" style="text-align: right;">
                <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تقديم المعلومات المعقدة
                  بطريقة مبسطة وبشكل مرئي </p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>تقديم المعلومات بشكل منهجي ومنظم</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> عرض المعلومات بسرعة, وبشكل تفاعلي</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تلخيص النقاط المهمة في المقرر</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> توضيح العلاقات بين المفاهيم والمقارنات
                  بسهولة</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تقديم الأنشطة للمتعلمين بسهولة</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> معالجة النص والصور في وقت واحد</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تدعيم التفكير الناقد والإبداعي لدى
                  الطلاب</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تدعيم سرعة التواصل بالمعلومات</p>
                <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> سهولة استخدام المعلومات ومشاركتها مع
                  المتعلمين</p>


              </address>
            </div>
          </div>
          <div class="col-md-6 wow animate__animated animate__zoomIn">
            <div>
              <img src="{%static 'img/e-learning-5680006-4729847.gif'%}" alt="" class="w-75">
            </div>
          </div>

        </div>
      </div>
  </section>

  <section class="rtl text-center my-5" id="rols">
    <h2 class="background-color-nav fw-bolder h2Header mb-5">تعليمات البيئة</h2>

    <div class="row p-0 m-0">

      <div class="col-md-6">
        <div class="px-3">
          <div className="h-50 w-50 ">
            <video autoPlay muted loop className="w-50">
              <source src="{% static 'img/1.mp4'%}" type="video/mp4" />
            </video>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="px-3">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <div class="d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-list-check ps-2 yell-color fs-5"></i>
                    <h6 class="m-0 pb-0">تعليمات تتعلق بالعنوان </h6>
                  </div>
                  
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <address class="serviceFooter" style="text-align: right;">
                    <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> كتابة العنوان في مركز
                      الإنفوجرافيك</p>
                    <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>اختيار عنوان قصير</p>
                    <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>العنوان يعبر عن المحتوى</p>
                    <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>كتابة العنوان بحجم كبير</p>
                    <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>العنوان يجذب انتباه القارئ</p>
                  </address>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <div class="d-flex justify-content-center align-items-center">
                      <i class="fa-solid fa-list-check ps-2 yell-color fs-5"></i>
                      <h6 class="m-0 pb-0">تعليمات تتعلق بتنسيق النص</h6>
                    </div>
                    
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <address class="serviceFooter" style="text-align: right;">
                      <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> استخدام أنواع خطوط
                        مقروءة</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> التناسق بين حجم الإنفوجرافيك
                        والمحتوى الموجود فيه</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> التناسق بين العنوان الرئيس
                        والعناوين الفرعية</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> عدم استخدام أنواع خطوط مختلفة في
                        الإنفوجرافيك الواحد</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> الاعتدال في استخدام تنسيق
                        الخطوط(خط سميك/ مائل) واستخدامه عند الحاجة</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> عدم الافراط في إضافة المسافات بين
                        الأسطر</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> استخدام النقاط لتنظيم المحتوى</p>
                    </address>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <div class="d-flex justify-content-center align-items-center">
                      <i class="fa-solid fa-list-check ps-2 yell-color fs-5"></i>
                      <h6 class="m-0 pb-0"> تعليمات تتعلق بجودة المحتوى</h6>
                    </div>
                   
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <address class="serviceFooter" style="text-align: right;">
                      <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> - توضيح العناصر
                        الأساسية والفرعية</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> دقة البيانات والحقائق, والصور
                        المستخدمة, والرسوم البيانية والتوضيحية</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> صحة المفاهيم والتعريفات المستخدمة
                      </p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> صحة المحتوى من الناحية اللغوية
                      </p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> عرض المحتوى باختصار</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تحقيق الوحدة للمحتوى</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> عرض المحتوى في إطار قصصي</p>
                    </address>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                    <div class="d-flex justify-content-center align-items-center">
                      <i class="fa-solid fa-list-check ps-2 yell-color fs-5"></i>
                      <h6 class="m-0 pb-0"> تعليمات اختيار الرسوم والصور</h6>
                    </div>
                    
                  </button>
                </h2>
                <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <address class="serviceFooter" style="text-align: right;">
                      <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> استخدام الصور
                        المناسبة</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> التناسق بين النصوص والرسوم والصور
                        التوضيحية</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> استخدام الرسوم التوضيحية التي
                        تثير الفضول وتجذب الانتباه</p>
                    </address>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">                
                    <div class="d-flex justify-content-center align-items-center">
                      <i class="fa-solid fa-list-check ps-2 yell-color fs-5"></i>
                      <h6 class="m-0 pb-0">   تعليمات تتعلق باختيار الألوان</h6>
                    </div>
                  </button>
                </h2>
                <div id="flush-collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <address class="serviceFooter" style="text-align: right;">
                      <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> استخدام الألوان
                        الهادئة للخلفية, والألوان الزاهية للنص</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> استخدام الألوان الأكثر سطوعًا
                        للعناصر المهمة, والأقل سطوعًا للعناصر الفرعية</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> التناسق بين الألوان في حالة
                        استخدام أكثر من لون للنص</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> التباين بين لون النص والخلفية</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> استخدام الألوان باعتدال.</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> التناسق بين ألوان الأشكال وألوان
                        النصوص</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> التناسق بين عناصر الإنفوجرافيك
                        المختلفة</p>
                    </address>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">                 
                     <div class="d-flex justify-content-center align-items-center">
                      <i class="fa-solid fa-list-check ps-2 yell-color fs-5"></i>
                      <h6 class="m-0 pb-0">    تعليمات تتعلق بالتصميم والجماليات</h6>
                    </div>
                  </button>
                </h2>
                <div id="flush-collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <address class="serviceFooter" style="text-align: right;">
                      <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> اختيار التصميم
                        المناسب للجهاز(طولي- عرضي). </p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> تصميم الإنفوجرافيك بحجم مناسب</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> اختيار نوع الإنفوجرافيك المناسب
                        للمحتوى</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> إضافة الروابط لمزيد من المعلومات
                        هو أحد العناصر المهمة</p>
                      <p><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> سرد المعلومات بشكل قصصي مشوق
                        وجذاب من خلال تنظيم عناصر التصميم لتكون بشكل قصصي مرئي</p>
                    </address>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

  </section>

  <section class="rtl text-center my-5" id="shar">
    <h2 class="background-color-nav fw-bolder h2Header mb-5 text-center">ادوات التشارك</h2>
   <div class="container text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center m-auto">
      <div class="container-fluid text-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-auto text-center" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto text-center mb-2 mb-lg-0">
            <li class="nav-item">
              <button class="nav-link btn btn-link" onclick="showContent('content1')">الدعم الذكي</button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-link" onclick="showContent('content2')">إنشاء الصور بالذكاء الاصطناعي</button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-link" onclick="showContent('content3')">إنشاء الفيديو بالذكاء الاصطناعي</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container mt-4">
      <div id="content1" style="display:none;">
        Content for Button 1
      </div>
      <div id="content2" style="display:none;">
        Content for Button 2
      </div>
      <div id="content3" style="display:none;">
        Content for Button 3
      </div>
    </div>
   </div>
  </section>
    
{% endblock  %}




