{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}
{%load static%}

{% block content %}
 <!-- =======================================vedio1-================================= -->
       <div class="mt-5 py-5" id="fristVideoContainer">
        <div class="container">
  <h2>محتوى التبسيط</h2>

            <div class="row m-0 p-0">
                <div class="col-md-8  ">
                    <div id="player" claas="w-100 "></div>
                    <button class="btn btnLogin px-4 mb-4 mt-4" id="next1" disabled> التالي <i class="fa-solid fa-paper-plane"></i></button>
                </div>
                <div class="col-md-4" id="ts3limatVedio1">
                    <div class="text-end">
                        <h2 class="decoration"> الموديول الأول: مدخل إلى الثقافة البصرية وتصميم الإنفوجرافيك التعليمي</h2>
                        <address class="serviceFooter" style="text-align: right;">
                            <p> الموديول الأول: مدخل إلى الثقافة البصرية وتصميم الإنفوجرافيك التعليمي<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                    <p> برجاء الانتهاء من روية المحتوي لتفعيل الزر<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                    <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                    <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>                 
                    <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                    <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =======================================vedio2-================================= -->
    <div class="mt-5 py-5" id="secondVideoContainer" style="display: none;">
        <div class="container">
            <div class="row m-0 p-0">
                <div class="col-md-8 animate__animated animate__zoomIn">
                    <div id="secondPlayer" class="w-100 animate__animated animate__zoomIn"></div>
                    <button class="btn btnQuiz px-4 mx-2 mb-2" id="next2" disabled> التالي <i class="fa-solid fa-paper-plane"></i></button>
                </div>
                <div class="col-md-4" id="ts3limatVedio2">
                    <div class="text-end">
                        <h1 class="decoration">تعليمات</h1>
                        <address class="serviceFooter" style="text-align: right;">
                <p> برجاء الانتهاء من روية المحتوي لتفعيل الزر<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                <p> برجاء الانتهاء من جميع الفديوهات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>                 
                <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
            </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =======================================vedio3-================================= -->
    <div class="mt-5 py-5" id="thirdVideoContainer" style="display: none;">
        <div class="container">
            <div class="row m-0 p-0">
                <div class="col-md-8 animate__animated animate__zoomIn">
                    <div id="thirdPlayer" class="w-100 animate__animated animate__zoomIn"></div>
                    <button class="btn btnQuiz px-4 mx-2 mb-2" id="next3" disabled> التالي <i class="fa-solid fa-paper-plane"></i></button>
                </div>
                <div class="col-md-4" id="ts3limatVedio3">
                    <div class="text-end">
                        <h1 class="decoration">تعليمات</h1>
                        <address class="serviceFooter" style="text-align: right;">
                    <p> برجاء الانتهاء من روية المحتوي لتفعيل الزر<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                    <p> برجاء الانتهاء من جميع الفديوهات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                    <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                    <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>                 
                    <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                    <p> في انتظار التعليمات<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </p>
                </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'quiz_question' quiz_name='aftermodule1tabsit'%}">الاختبار البعدى للموديل الاول</a>
{% endblock %}
